/.quarto/
.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
docs/notes/09_Convolutional_Neural_Networks_and_Image_Embeddings.html
docs/notes/02_LogisticRegAndEntropy.html
docs/notes/01_regression.html
docs/notes/02_LogisticRegAndEntropy.html
docs/syllabus.html
docs/index.html
